<!DOCTYPE html>
<html lang="en">
<head>
  <title>FogOS Edge Configuration/Utilization API</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .container-fluid {
      padding: 60px 50px;
    }
    .bg-grey {
      background-color: #f6f6f6;
    }
  </style>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
<!--  <script type=text/javascript>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
          a: $('input[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
  </script> -->
</head>

<body>
  {% include 'partials/header.html' %}

  <div class="container-fluid">
    <h2>FogOS: Edge Configuration</h2>

    {% if 'leave' in device_status %}
      <hr />
      <div class="row">
        <label>Device Status: Not connected</label>
        <form id="join_form" method="GET" action="/config/join">
          <div class="form-group row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <button class="btn btn-primary" type="submit">Join FogOS Network</button>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </form>
      </div>
    {% endif %}

    {% if 'join' in device_status %}
      <hr />
      <div class="row">
        <label>Device Status: Joined FogOS edge network</label>
        <form id="leave_form" method="GET" action="/config/leave">
          <div class="form-group row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <button class="btn btn-primary" type="submit">Leave FogOS Network</button>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </form>
      </div>

      <hr />
      <div class="row">
        <label>Services/Contents/Resources Registration</label>
        <form id="register_form" method="POST" action="/config/register">
          <div class="form-group row">
            <div class="col-xs-2">
              Type:
            </div>
            <div class="col-xs-2">
              <select id="register_type" name="register_type" class="form-control" form="register_form">
                <option value="Service">Service</option>
                <option value="Content">Content</option>
              </select>
            </div>
            <div class="col-xs-1">
              Category:
            </div>
            <div class="col-xs-2">
              <select id="category" name="category" class="form-control" form="register_form">
                <option value="Streaming">Streaming</option>
                <option value="Web">Web</option>
                <option value="Voice">Voice</option>
                <option value="FileTransfer">FileTransfer</option>
                <option value="Game">Game</option>
                <option value="Image">Image</option>
                <option value="CPU">Computing-CPU</option>
                <option value="Storage">Computing-Storage</option>
                <option value="Bandwidth">Networking-Bandwidth</option>
                <option value="Sensor">Sensor</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-2">
              Attributes:
            </div>
            <div class="col-xs-10">
              <input id="attributes" name="attributes" class="form-control" size="20" placeholder="['resloution=720p', 'size=50123B']" form="register_form" >
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-2">
              Cache Bit:
            </div>
            <div class="col-xs-2">
              <select id="cache" name="cache" class="form-control" form="register_form">
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
            <div class="col-xs-2">
              Segment Flag:
            </div>
            <div class="col-xs-2">
              <select id="segment" name="segment" class="form-control" form="register_form">
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
            <div class="col-xs-2">
              Collision Avoidance Bit:
            </div>
            <div class="col-xs-2">
              <select id="collisionAvoid" name="collisionAvoid" class="form-control" form="register_form">
                <option value="true">true</option>
                <option value="false">false</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-xs-12">
              <button class="btn btn-primary" type="submit">Register</button>
            </div>
          </div>
        </form>
      </div>

      <hr />
      <div class="row">
        <label>Services/Contents/Resources Status</label>

        <div class="row">
          <table class="table table-bordered">
            <tr>
              <th>Index</th>
              <th>Hash</th>
              <th>RegisterType</th>
              <th>Category</th>
              <th>Attributes</th>
              <th>Cache</th>
              <th>Segment</th>
              <th>CollisionAvoid</th>
            </tr>

            {% if register_list is not none %}
              {% for register_item in register_list %}
                <tr>
                  <td>{{ register_item[0] }}</td>
                  <td>{{ register_item[2] }}</td>
                  <td>{{ register_item[3] }}</td>
                  <td>{{ register_item[4] }}</td>
                  <td>{{ register_item[5] }}</td>
                  <td>{{ register_item[6] }}</td>
                  <td>{{ register_item[7] }}</td>
                  <td>{{ register_item[8] }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>

        </div>

      </div>

      <hr />
    {% endif %}

  </div>

</body>
</html>
