<!DOCTYPE html>
<html lang="en">
<head>
  <title>FogOS Edge Configuration/Utilization API</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .container-fluid {
      padding: 60px 50px;
    }
    .bg-grey {
      background-color: #f6f6f6;
    }
  </style>
</head>

<body>
  {% include 'partials/header.html' %}

  <div class="container-fluid">
    <h2>FogOS: Edge Configuration/Utilization UI</h2>
  </div>


  {% include 'partials/footer.html' %}
</body>
</html>
